<content class="round">
  <div class="main_inner">
    <div class="main_top">
      <h1><%= yield(:heading) %></h1>
    </div>
    <div class="main_left">
      <%= yield %>
      <h2>This is the left box</h2>
    </div>
    <div class="main_right">
      <center>
        <%= javascript_tag 'twitter()' %>
      </center>
    </div>
  </div>
</content>
