<content class="round">
  <div class="main_inner">
    <div class="main_top">
      <h1><%= yield(:heading) %></h1>
    </div>
    <div class="main_left">
      <%= yield %>
    </div>
    <div class="main_right">
        <%= javascript_tag 'twitter()' %>
    </div>
  </div>
</content>
